<div class="body-info">
    <!-- <h4> Welcome, {{givenName}} </h4> -->
    <h4 id="welcome"></h4>
    <!--{{!-Begin New Activity Button-}}-->
    <a class="button app-button" href="#">Begin New Activity</a>
    <br> 
    <!--{{!-PULSE BUTTON!!!-}}-->
    <!--<button class="button button-rounded-hover"><i class="fa fa-ravelry" aria-hidden="true"></i></button>-->
    <button id="pulse-button" class="button button-rounded-hover">
      <img src="../assets/radio2.png"></button>
  </div>
<div class="columns pulse-footer" data-sticky-container data-stick-to="bottom">
  <div class="row">
    <div class="column">
      <p>© Pulse / All Rights Reserved.</p>
    </div>
  </div>
</div>